body {
    width: 1400px;
    margin: 40px 60px 40px 60px;
}
header {
    width: 1280px;
    height: 36px;
    margin: 10px 0 60px 0;
    display: flex;
   align-items: center;
    justify-content: space-between;
}
.Logo-header {
    display: flex;
    align-items: center;
}
header ul {
    display: none;
    list-style: none;
    align-items: center;
}
header ul li {
    padding-right: 20 px;
    text-transform: capitalize;
}
header ul a {
    text-decoration: none;
    color: #999999;
}
a:last-child {
    color: #ff3998;
}
@media screen and (min-width: 769px) {
    header ul {
      display: flex;
    }
    .hamburger-menu {
      display: none;
    }
  }
.Nav-header {
    width: 376px;
    height: 20px;
    right: 80px;
    top: 81px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 28px;
}
.header-img {
    width: 150px;
    height: 50px;
    left: 48px;
    top: 2px
}
a {
    width: 82px;
    height: 20px;
    font-size: 20px;
    line-height: 100%;
    color: #555555;
    flex: none;
}
a:last-child {
    color: #ff3998;
}
.purple, .green{
    width: 1120;
    height: 519;
    left: 80px;
    top: 288px;
    display: flex;
    flex-direction: row;
}
.purple-tex, .green-text {
    width: 620px;
    height: 400;
    margin: 80px;
    left: 80px;
    right: 200px;
    top: 500px;
}
.purple-monster, .green-icon {
    border: 200px;
    width: 354px;
    height: 358px;
    margin: 0 50px 50px 150px;
}
.photo-monster {
    width: 400px;
    height: 500px;
}
h1 {
    color: #ff3998;
    font-size: 16px;
}
h2 {
    color: #111111;
    font-size: 96px;
}
h6 {
    color: #111111;
    font-size: 50px;
    margin: 10 0 10 0;
}
p {
    color: #555555;
    font-size: 20px;
}
button {
    border-radius: 40px;
  border: solid 5px transparent;
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #fff inset;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(to right, #FF3998, #FF3939, #FF8139, #39FFA0);
  background-color: white;
  padding: 20px 50px;
  font-weight: 600;
  font-size: 20px;  
}
.Free{
    width: 1280px;
    height: 320px;
    left: 80px;
    right: 80px;
    top: 989px;
    background-image: linear-gradient(to right, red , yellow, green);
    border-radius: 16px;  
}
h3 {
    font-size: 40px;
    margin: 0;
}
.Icon {
    width: 1280px;
    height: 49px;
    left: 80px;
    top: 1429px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 5vh 0;
}
.Icon-name {
    width: 150px;
    height: 80px;
}
@media screen and (max-width: 769px) {
    .Icon {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}
.super-rare {
    width: 1280px;
    height: 400px;
    left: 80px;
    top: 1598px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
h4 {
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    color: #111111;
}
.purple-man, .yellow-woman, .orange-man, .green-woman {
    width: 200px;
    height: 300px;
    left: 80px;
    top: 1759px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #cfc9c9;
    border-radius: 5%;
}
.gloop-series{
    width: 109px;
    height: 74px;
    left: 24px;
    top: 302px;
}
.top-bid {
    width: 110px;
    height: 74px;
    left: 157px;
    top: 302px;
}
.orange {
    color: orange;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
}
.Name {
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    color: #111111;
}
.Prace {
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    color: #111111;
}
.number, .data{
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: #777777;
}
.photo-img {
    width: 200px;
    height: 150px;
    border-radius:  10% 10% 0  0 ;
}
.green {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.photo-monster {
    width: 350px;
    height: 500px;
  }
.divider-bottom {
    display: inline;
    margin-top: 0px;
    margin-bottom: 20px;
  }
.bottom-menu {
    display: flex;
    flex-direction: column;
    padding: 5vh 5vw;
    font-family: "Inter", sans-serif;
  }
 .right-menu {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-right: 100px;
  }
.right-menu li {
    list-style-type: none;
  }
.right-menu li a {
    text-decoration: none;
    color: #555555;
    font-size: 20px;
  }
.right-menu ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
.left-menu li {
    list-style-type: none;
  }
.left-menu p {
    color: #555555;
    padding-top: 20px;
    font-size: 20px;
  }
.social-media-links {
    padding-top: 40px;
    display: flex;
    gap: 15px;
  }
.social-media-links a {
    color: #999999;
  }
  @media screen and (min-width: 769px) {
.bottom-menu {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
 .right-menu {
      padding-right: 0px;
    }
  }
  footer {
    display: flex;
    justify-content: space-between;
    padding: 10vh 5vw;
    font-family: "Inter", sans-serif;
    color: #999999;
    font-size: 20px;
  }
  footer .right-footer {
    display: none;
  }
  @media screen and (min-width: 769px) {
    footer .right-footer {
      display: inline;
    }
  }